<!DOCTYPE html>

<html lang = "pt-br">

<head>
    <!--serve para adaptar para mobile-->
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta charset = "UTF-8">

    <title>Sala Furiosa</title>
    
</head>

<body style = "background-color: #212121;">
    <h1 style = "color: #e3e3e3; text-align: center;"><b><ins>Bem vindo à Sala Furiosa!</ins></b></h1>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href = "/login/">
        <div style = "text-align: center;">
        <button style = "background-color: #878787; color: #e3e3e3; border-radius: 5px;
                        width: 200px; height: 60px;">
            <h1>Fazer login</h1>    
        </button>
        </div>
    </a>
    <br>
    <br>
    <a href = "/registro/">
        <div style = "text-align: center;">
        <button style = "background-color: #878787; color: #e3e3e3; border-radius: 5px; width: 200px;
                        height: 60px;">
            <h1>Registrar-se</h1>    
        </button>
        </div>
    </a>
</body>

</html>